.bg-primary {
  background-color: $primary;
  color: $light;
}
.bg-secondry {
  background-color: $secondry;
  color: $light;
}
.bg-success {
  background-color: $success;
  color: $success;
}
.bg-info {
  background-color: $info;
}
.bg-warning {
  background-color: $warning;
}
.bg-danger {
  background-color: $danger;
  color: $light;
}
.bg-light {
  background-color: $light;
  color: $dark;
}
.bg-dark {
  background-color: $dark;
  color: $light;
}
.bg-red-9 {
  background-color: $red-9;
  color: $light;
}
.bg-red-8 {
  background-color: $red-8;
  color: $light;
}
.bg-red-7 {
  background-color: $red-7;
  color: $light;
}
.bg-red-6 {
  background-color: $red-6;
  color: $light;
}
.bg-red-5 {
  background-color: $red-5;
  color: $light;
}
.bg-red-4 {
  background-color: $red-4;
}
.bg-red-3 {
  background-color: $red-3;
}
.bg-red-2 {
  background-color: $red-2;
}
.bg-red-1 {
  background-color: $red-1;
  color: $dark;
}
.bg-green-9 {
  background-color: $green-9;
  color: $light;
}
.bg-green-8 {
  background-color: $green-8;
  color: $light;
}
.bg-green-7 {
  background-color: $green-7;
  color: $light;
}
.bg-green-6 {
  background-color: $green-6;
  color: $light;
}
.bg-green-5 {
  background-color: $green-5;
  color: $light;
}
.bg-green-4 {
  background-color: $green-4;
}
.bg-green-3 {
  background-color: $green-3;
}
.bg-green-2 {
  background-color: $green-2;
}
.bg-green-1 {
  background-color: $green-1;
}
.bg-teal-9 {
  background-color: $teal-9;
}
.bg-teal-8 {
  background-color: $teal-8;
}
.bg-teal-7 {
  background-color: $teal-7;
}
.bg-teal-6 {
  background-color: $teal-6;
}
.bg-teal-5 {
  background-color: $teal-5;
}
.bg-teal-4 {
  background-color: $teal-4;
}
.bg-teal-3 {
  background-color: $teal-3;
}
.bg-teal-2 {
  background-color: $teal-2;
}
.bg-teal-1 {
  background-color: $teal-1;
}
.bg-purple-9 {
  background-color: $purple-9;
}
.bg-purple-8 {
  background-color: $purple-8;
}
.bg-purple-7 {
  background-color: $purple-7;
}
.bg-purple-6 {
  background-color: $purple-6;
}
.bg-purple-5 {
  background-color: $purple-5;
}
.bg-purple-4 {
  background-color: $purple-4;
}
.bg-purple-3 {
  background-color: $purple-3;
}
.bg-purple-2 {
  background-color: $purple-2;
}
.bg-purple-1 {
  background-color: $purple-1;
}
.bg-cyan-9 {
  background-color: $cyan-9;
}
.bg-cyan-8 {
  background-color: $cyan-8;
}
.bg-cyan-7 {
  background-color: $cyan-7;
}
.bg-cyan-6 {
  background-color: $cyan-6;
}
.bg-cyan-5 {
  background-color: $cyan-5;
}
.bg-cyan-4 {
  background-color: $cyan-4;
}
.bg-cyan-3 {
  background-color: $cyan-3;
}
.bg-cyan-2 {
  background-color: $cyan-2;
}
.bg-cyan-1 {
  background-color: $cyan-1;
}
.bg-slate-9 {
  background-color: $slate-9;
}
.bg-slate-8 {
  background-color: $slate-8;
}
.bg-slate-7 {
  background-color: $slate-7;
}
.bg-slate-6 {
  background-color: $slate-6;
}
.bg-slate-5 {
  background-color: $slate-5;
}
.bg-slate-4 {
  background-color: $slate-4;
}
.bg-slate-3 {
  background-color: $slate-3;
}
.bg-slate-2 {
  background-color: $slate-2;
}
.bg-slate-1 {
  background-color: $slate-1;
}
