/* Colors Variables */
$primary: #0d6efd;
$secondry: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
/* Red */
$red-9: #7f1d1d;
$red-8: #991b1b;
$red-7: #b91c1c;
$red-6: #dc2626;
$red-5: #ef4444;
$red-4: #f87171;
$red-3: #fca5a5;
$red-2: #fecaca;
$red-1: #fee2e2;
/* Green */
$green-9: #14532d;
$green-8: #166534;
$green-7: #15803d;
$green-6: #16a34a;
$green-5: #22c55e;
$green-4: #4ade80;
$green-3: #86efac;
$green-2: #bbf7d0;
$green-1: #dcfce7;
/* Teal */
$teal-9: #134e4a;
$teal-8: #115e59;
$teal-7: #0f766e;
$teal-6: #0d9488;
$teal-5: #14b8a6;
$teal-4: #2dd4bf;
$teal-3: #5eead4;
$teal-2: #99f6e4;
$teal-1: #ccfbf1;
/* Purple */
$purple-9: #581c87;
$purple-8: #6b21a8;
$purple-7: #7e22ce;
$purple-6: #9333ea;
$purple-5: #a855f7;
$purple-4: #c084fc;
$purple-3: #d8b4fe;
$purple-2: #e9d5ff;
$purple-1: #f3e8ff;
/* Cyan */
$cyan-9: #164e63;
$cyan-8: #155e75;
$cyan-7: #0e7490;
$cyan-6: #0891b2;
$cyan-5: #06b6d4;
$cyan-4: #22d3ee;
$cyan-3: #67e8f9;
$cyan-2: #a5f3fc;
$cyan-1: #cffafe;
/* Slate */
$slate-9: #0f172a;
$slate-8: #1e293b;
$slate-7: #334155;
$slate-6: #475569;
$slate-5: #64748b;
$slate-4: #94a3b8;
$slate-3: #cbd5e1;
$slate-2: #e2e8f0;
$slate-1: #f1f5f9;
/* Fonts */
$font-fira-sans: "Fira Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-work-sans: "Work Sans", sans-serif;
